<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.personal.parkinglocator" android:hardwareAccelerated="false">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19" />
	<application android:theme="@android:style/Theme.Holo" android:label="Parking Locator" android:icon="@drawable/ic_launcher"></application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>